# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
# Your code here
import pandas as pd

# Load data from the provided URL into a pandas DataFrame
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

# Display the first few rows to understand the structure
print(df.head())

  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

In [2]:
# Get the shape of the DataFrame
num_rows, num_columns = df.shape
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 4008
Number of columns: 11

In [3]:
# Get the data types of each column
data_types = df.dtypes
print("Data types of each column:\n", data_types)

# Suggest fixing for incorrect data types
# For example, converting object columns that are numeric in nature:
df['Customer Lifetime Value'] = pd.to_numeric(df['Customer Lifetime Value'].str.replace(',', ''), errors='coerce')

Data types of each column:
 Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [4]:
# Number of unique values for each column
unique_values = df.nunique()
print("Unique values per column:\n", unique_values)

# Identify categorical columns (often object type or with few unique values)
categorical_columns = df.select_dtypes(include='object').columns.tolist()
print("Categorical columns:", categorical_columns)

# Describe unique values for categorical columns
for col in categorical_columns:
    print(f"Unique values in {col}:\n", df[col].unique())

Unique values per column:
 Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value         0
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64
Categorical columns: ['Customer', 'ST', 'GENDER', 'Education', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class']
Unique values in Customer:
 ['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]
Unique values in ST:
 ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
Unique values in GENDER:
 [nan 'F' 'M' 'Femal' 'Male' 'female']
Unique values in Education:
 ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
Unique values in Number of Open Complaints:
 ['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
Unique values in Policy Type:
 ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
Unique values in Vehicle Class:
 ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

In [6]:
# Summary statistics for numerical columns
numerical_summary = df.describe()
print("Summary statistics for numerical columns:\n", numerical_summary)

# Additional statistics: mean, median, mode, std deviation
numerical_mode = df.mode().iloc[0]  # Mode
numerical_median = df.median()      # Median
numerical_std = df.std()            # Standard deviation

print("Mean values:\n", numerical_summary.loc['mean'])
print("Median values:\n", numerical_median)
print("Mode values:\n", numerical_mode)
print("Standard deviation:\n", numerical_std)

Summary statistics for numerical columns:
        Customer Lifetime Value        Income  Monthly Premium Auto  \
count                      0.0   1071.000000           1071.000000
mean                       NaN  39295.701214            193.234360
std                        NaN  30469.427060           1601.190369
min                        NaN      0.000000             61.000000
25%                        NaN  14072.000000             68.000000
50%                        NaN  36234.000000             83.000000
75%                        NaN  64631.000000            109.500000
max                        NaN  99960.000000          35354.000000

       Total Claim Amount
count         1071.000000
mean           404.986909
std            293.027260
min              0.382107
25%            202.157702
50%            354.729129
75%            532.800000
max           2893.239678

TypeError: Cannot convert [['RB50392' 'QZ44356' 'AI49188' ... nan nan nan]
 ['Washington' 'Arizona' 'Nevada' ... nan nan nan]
 [nan 'F' 'F' ... nan nan nan]
 ['Master' 'Bachelor' 'Bachelor' ... nan nan nan]] to numeric

In [7]:
# Describe categorical columns
categorical_summary = df.describe(include=['object'])
print("Summary statistics for categorical columns:\n", categorical_summary)

Summary statistics for categorical columns:
        Customer      ST GENDER Education Number of Open Complaints  \
count      1071    1071    954      1071                      1071
unique     1071       8      5         6                         6
top     RB50392  Oregon      F  Bachelor                    1/0/00
freq          1     320    457       324                       830

          Policy Type  Vehicle Class
count            1071           1071
unique              3              6
top     Personal Auto  Four-Door Car
freq              780            576

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [8]:
# Your code here
import pandas as pd

# Load data from the URL into DataFrame (if not already loaded)
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

# Step 1: Calculate the frequency of each location (assuming 'ST' is the column for locations)
location_frequencies = df['ST'].value_counts()

# Step 2: Identify the top 5 less common locations in ascending order
less_common_locations = location_frequencies.nsmallest(5).sort_values(ascending=True)

# Output the results
print("Top 5 Less Common Customer Locations:\n", less_common_locations)

Top 5 Less Common Customer Locations:
 ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [9]:
import pandas as pd

# Load the data from the URL into a DataFrame (if not already loaded)
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

# Step 1: Calculate the total number of policies sold for each policy type
policy_counts = df['Policy Type'].value_counts()

# Step 2: Retrieve the policy type with the highest number of policies sold
most_sold_policy_type = policy_counts.idxmax()

# Output the results
print("Total number of policies sold for each type:\n", policy_counts)
print(f"\nPolicy type with the highest number of policies sold: {most_sold_policy_type}")

Total number of policies sold for each type:
 Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

Policy type with the highest number of policies sold: Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [10]:
# Your code here
import pandas as pd

# Load the data from the URL into a DataFrame (if not already loaded)
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

# Step 1: Use loc to filter the DataFrame for each policy type
personal_auto_df = df.loc[df['Policy Type'] == 'Personal Auto']
corporate_auto_df = df.loc[df['Policy Type'] == 'Corporate Auto']

# Step 2: Calculate average income for each policy type
avg_income_personal_auto = personal_auto_df['Income'].mean()
avg_income_corporate_auto = corporate_auto_df['Income'].mean()

# Step 3: Print the results
print(f"Average income for Personal Auto policies: ${avg_income_personal_auto:.2f}")
print(f"Average income for Corporate Auto policies: ${avg_income_corporate_auto:.2f}")

Average income for Personal Auto policies: $38180.70
Average income for Corporate Auto policies: $41390.31

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [11]:

# Your code here
import pandas as pd

# Load data from the URL into DataFrame (if not already loaded)
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

# Step 1: Review statistics for the Total Claim Amount
claim_amount_stats = df['Total Claim Amount'].describe()
print("Statistics for Total Claim Amount:\n", claim_amount_stats)

# Step 2: Calculate the 75th percentile
claim_amount_75th_percentile = df['Total Claim Amount'].quantile(0.75)
print(f"\n75th percentile of Total Claim Amount: {claim_amount_75th_percentile}")

# Step 3: Filter DataFrame for customers with high policy claim amounts (greater than 75th percentile)
high_claim_customers = df[df['Total Claim Amount'] > claim_amount_75th_percentile]

# Step 4: Calculate and print summary statistics for this subset
high_claims_summary = high_claim_customers.describe()
print("\nSummary statistics for high policy claim amount customers:\n", high_claims_summary)

Statistics for Total Claim Amount:
 count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64

75th percentile of Total Claim Amount: 532.8

Summary statistics for high policy claim amount customers:
              Income  Monthly Premium Auto  Total Claim Amount
count    264.000000            264.000000          264.000000
mean   23677.344697            165.193182          782.228263
std    27013.483721            623.930992          292.751640
min        0.000000             63.000000          537.600000
25%        0.000000             99.000000          606.521741
50%    18807.000000            114.000000          679.597985
75%    42423.750000            133.250000          851.400000
max    99316.000000          10202.000000         2893.239678